.page
    --color-red #ff564e
    min-height 100vh
    height 1px
    overflow scroll

    &:not('.schedule')
        tbody
            tr
                td:last-child
                    text-align center