// стили, общие для всей страницы

:root
    --color-black #262626
    --color-silver #8d96b2
    --color-asphalt #343b4c
    --color-cobalt #6674a6
    --color-dust #f3f4f7
    --color-cinder #dde0e8
    --color-macadam #a4a9b8
    --color-rambler #315efb
    --color-ashes #e8eaf0
    --color-ghost #f9fafb
    --color-bulat #b0b4c2
    --height 55px

*
    margin:  0
    padding: 0
    box-sizing: border-box
    font-family: Roboto, sans-serif
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    text-rendering geometricPrecision

body, [id='root']
    background-color var(--color-dust)
    min-height 100vh
